<div class="container">
  <section id="showcase">
    <div class="content">
      <h1 class="l-heading">A Simple Authentication App</h1>
      <p class="lead">An authentication app with nodejs</p>
      <a href="#" class="btn">Read More</a>
    </div>
  </section>
  <script src="/javascripts/main.js"></script>
</div>
