@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  /* color: #f4f4f4; */
  /* max-width: 1100px; */
  line-height: 1.7;
  /* position: relative; */
  background: #333
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%238ee4af' fill-opacity='0.37'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.text-green {
  color: #93cb52;
}

.form-container {
  box-shadow: 0 0 20px 0 rgba(42, 179, 18, 0.5);
  color: #f4f4f4;
}

.form-container > * {
  padding: 1em;
}

.info {
  background-color: #333;
  margin-bottom: 1rem;
}

.register-form {
  background-color: #93cb52;
  color: #333;
  margin: 0 auto;
}

/* .register-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
} */

/* p {
  margin: 0.75rem 0;
} */

/* .text-primary {
  color: #f4f4f4;
} */

/* .l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
} */

/* .lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
} */

/* .btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
} */

/* .btn:hover {
  background-color: #7ab436;
} */

#navbar {
  background-color: #333;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100000;
  padding: 1rem 2rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background-color: #93cb52;
  border-radius: 5px;
}

#showcase {
  margin-top: -72px;
  height: 100vh;
  /* width: 100%; */
}

#showcase .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  /* position: absolute;
  top: 73px;
  left: 0;
   background-color: rgba(0, 0, 0, 0.5); */
}
